<div class="controls">
  <button (click)="changeScale('day')" [class.active]="currentScale === 'day'">Day</button>
  <button (click)="changeScale('month')" [class.active]="currentScale === 'month'">Month</button>
  <button (click)="changeScale('year')" [class.active]="currentScale === 'year'">Year</button>
</div>
<div class="table-viewport">
  <div class="flex-row header-row">
    <div class="header-cell sticky-left">Work Center</div>
    <div class="scrollable-content">
      <div *ngFor="let h of headers" class="header-cell" [style.flex]="'0 0 ' + dataColWidth">
        {{ h }}
      </div>
    </div>
  </div>

  <div
    *ngFor="let row of timelineRows; let idx = index"
    class="flex-row"
    (mouseenter)="hoveredIndex = idx"
    (mouseleave)="hoveredIndex = null"
    [class.row-hover]="hoveredIndex === idx"
  >
    <div class="cell sticky-left">{{ row.name }}</div>

    <div class="scrollable-content">
      <div
        *ngFor="let h of headers; let i = index"
        class="cell timeline-slot"
        [style.flex]="'0 0 ' + dataColWidth"
      >
        <ng-container *ngFor="let task of row.tasks">
          <div
            *ngIf="task.position.startIdx === i"
            class="task-bar"
            [ngClass]="task.data.status"
            [style.width]="
              'calc(' + task.position.span * 100 + '% + ' + (task.position.span - 1) + 'px)'
            "
          >
            <span class="task-label">{{ task.data.name }}</span>
            <span class="status-badge">{{ task.data.status }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
