
.button {
    width: 114px;
    height: 32px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) , 0 1px 3px 0 rgba(200, 207, 233, 1);
    border-radius: 7px;
    // background-color: rgba(255, 255, 255, 1);

    &:hover {
        // 
    }
}

